<header class="h-28 w-full px-10 bg-gradient-to-b from-black to-[#1b1b1b]">
  <nav class="w-full h-full flex justify-between items-center flex-col sm:flex-row">
    <a class="h-full" routerLink="home"
      ><h1 class="text-5xl text-[#E50914] font-bold h-full flex items-center">
        NOTFLIX
      </h1></a
    >
    <ul class="w-full h-full flex justify-around sm:w-1/2">
      <li
        class="h-full flex relative after:absolute after:bg-[#E50914] after:w-0 after:h-1 after:rounded-md after:bottom-0 after:transition-all after:duration-150 hover:after:w-full"
      >
        <a
          class="text-2xl text-[#E50914] font-bold h-full flex items-center"
          routerLink="home"
          >Home</a
        >
      </li>
      <li
        class="h-full flex relative after:absolute after:bg-[#E50914] after:w-0 after:h-1 after:rounded-md after:bottom-0 after:transition-all after:duration-150 hover:after:w-full"
      >
        <a
          class="text-2xl text-[#E50914] font-bold h-full flex items-center"
          routerLink="favoris"
          >Favorites</a
        >
      </li>
    </ul>
  </nav>
</header>
